<!DOCTYPE html>
<html>
  <title>Mi Página Personal</title>
  <meta charset="UTF-8">
  <body>

  <div class="row">
    <nav aria-label="breadcrumb" style="margin-top: 10px;">
      <ol class="breadcrumb" id="navegacion">
        <li class="breadcrumb-item active" aria-current="page"><a href="/SortingListMultipleAttributes.zip">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="{{url('/empleados/list')}}">Usuarios</a></li>
        <li class="breadcrumb-item" aria-current="page">Crear</li>
      </ol>
    </nav>   
  </div>

  <div class="row"> 

    <div class="col-md-offset-2 col-md-8">
 
      <div class="panel panel-default">
 
        <div class="panel-heading"> 
          <h3 class="panel-title text-center"> 
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> 
            Nuevo Usuario 
          </h3> 
        </div> 
 
        <div class="panel-body" style="padding:30px"> 
         
          <form method="POST" id="createEmpleadoForm"  enctype="multipart/form-data" novalidate> 
           
            
 
            <div class="form-row"> 
              <div class="col-md-4"> 
                <div class="picture-container"> 
                  <div class="picture"> 
                    <img src={{ url('/images/default-avatar.png') }} defaultSrc={{ url('/images/default-avatar.png') }} class="picture-src" id="avatarImg" title=""/> 
                    <input type="file" id="avatarInputFile" name="avatarInputFile" accept="image/*"> 
                  </div> 
                  <h5 style="font-weight:bold;">SELECCIONE IMAGEN</h5> 
                  <small class="form-text text-info" id="avatarSmall" hidden><span class="glyphicon glyphicon-info-sign"></span> </small> 
                </div> 
              </div> 
 
              <div class="form-group col-md-8"> 
                <label for="nombre">Nombre: <!--<small style="font-weight: normal;">(requerido)</small>--> </label> 
                <input type="text" name="nombre" id="nombre" value="{{ old('nombre') }}" class="form-control" style="text-transform:uppercase" required> 
                <small class="form-text text-danger" id="nombreSmall" hidden><span class="glyphicon glyphicon-ok"></span> </small> 
              </div> 
 
              <div class="form-group col-md-8"> 
                <label for="ap_paterno">Apellido paterno:</label> 
                <input type="text" name="ap_paterno" id="ap_paterno" value="{{ old('ap_paterno') }}" class="form-control" style="text-transform:uppercase" required> 
                <small class="form-text text-danger" id="ap_paternoSmall" hidden><span class="glyphicon glyphicon-ok"></span> </small> 
              </div> 
 
              <div class="form-group col-md-8"> 
                <label for="ap_materno">Apellido materno:</label> 
                <input type="text" name="ap_materno" id="ap_materno" value="{{ old('ap_materno') }}" class="form-control" style="text-transform:uppercase" required> 
                <small class="form-text text-danger" id="ap_maternoSmall" hidden><span class="glyphicon glyphicon-ok"></span> </small> 
              </div> 
            </div> 
 
            <div class="form-row"> 
              <div class="form-group col-md-5"> 
                <label for="curp">CURP:</label> 
                <input type="text" name="curp" id="curp" value="{{ old('curp') }}" class="form-control" style="text-transform:uppercase" required> 
                <small class="form-text text-danger" id="curpSmall" hidden><span class="glyphicon glyphicon-ok"></span> </small> 
              </div> 
              <div class="form-group col-md-7"> 
                <label for="email">E-Mail</label> 
                <input type="email" name="email" id="email" value="{{ old('email') }}" class="form-control" required> 
                <small class="form-text text-danger" id="emailSmall" hidden><span class="glyphicon glyphicon-ok"></span> </small> 
              </div> 
            </div> 
 
            <div class="form-row"> 
              <div class="form-group col-md-12"> 
                <label for="area">Departamento:</label> 
                <select name="departamento" id="departamento" oldvalue="{{ old('departamento') }}" class="form-control" required> 
                </select> 
              </div> 
            </div> 
 
            <div class="form-row"> 
              <div class="form-group col-md-12" id="divPuesto"> 
                <label for="puesto">Puesto:</label> 
                <select name="puesto" id="puesto" oldvalue="{{ old('puesto') }}" class="form-control" required> 
                </select> 
              </div> 
            </div> 
 
            <div class="form-row" id="passwordDiv"> 
              <div class="form-group col-md-6"> 
                <label for="psw">Contraseña:</label> 
                <br> 
                <input type="password" id="psw" name="psw" class="form-control" required> 
                <small class="form-text text-danger" id="pswSmall" hidden><span class="glyphicon glyphicon-ok"></span> </small> 
              </div> 
 
              <div class="form-group col-md-6"> 
                <label for="pswconfirm">Confirmar:</label> 
                <br> 
                <input type="password" id="pswconfirm" name="pswconfirm" class="form-control" required> 
                <small class="form-text text-danger" id="pswconfirmSmall" hidden><span class="glyphicon glyphicon-ok"></span> </small> 
              </div> 
            </div> 
 
            <div class="form-row"> 
              <div class="form-group col-md-12 text-center"> 
                <button type="submit" class="btn btn-primary"> 
                  Agregar usuario 
                </button> 
              </div> 
            </div> 
             
          </form> 
 
        </div> 
      </div> 
    </div>

  </div>
 
  <script src='/Restriccion.js'></script> 

  <script src='/Validacion.js'></script> 

  <script src='Restriccion.js'></script> 

  <script src='Validacion.js'></script> 
 

  <script type="text/javascript"> 
 
    document.onreadystatechange = function () { 
      if (document.readyState === "complete") { 
        Restriccion.Empleado.init(); 
      } 
    } 
   
    var _selectArea = document.getElementById("area"); 
    var _selectDepartamento = document.getElementById("departamento"); 
    var _selectPuesto = document.getElementById("puesto"); 
    var _divPuesto = document.getElementById("divPuesto"); 
 
    _selectArea.onchange = function() { 
      var _consultaResponse = function( _data ){ 
        //---[ Limpiar select ]------------------------------- 
        while (_selectDepartamento.firstChild) { 
          _selectDepartamento.removeChild(_selectDepartamento.firstChild); 
        } 
 
        //---[ Llenar select ]-------------------------------- 
        _data.forEach(  
          function(item, index) { 
            var _option = document.createElement("option"); 
            _option.textContent = item.nombre; 
            _option.setAttribute("type", "hidden"); 
            _option.setAttribute("value", item.id); 
            _option.setAttribute("puestos", item.puestos); 
 
            if( _option.value.localeCompare(_selectDepartamento.getAttribute("oldvalue")) === 0){ 
              _option.setAttribute("selected", ""); 
            } 
            _selectDepartamento.appendChild( _option ); 
          } 
        ); 
        // Create a new 'change' event 
        var event = new Event('change'); 
 
        // Dispatch it. 
        _selectDepartamento.dispatchEvent(event); 
      }; 
     
 
      $.ajax({ 
        headers: { 
          'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content') 
        }, 
        type: 'POST', 
        url: <?php echo json_encode( url('/api/departamento/withArea') ); ?>, 
        data: JSON.stringify ( {"palabra": _selectArea.value} ), 
        success: _consultaResponse, 
        contentType: "application/json", 
        dataType: 'json' 
      }); 
    }; 
 
    _selectDepartamento.onchange = function(){ 
      var _optionSelected = _selectDepartamento.options[ _selectDepartamento.selectedIndex ]; 
      var _arrayPuestos = JSON.parse( _optionSelected.getAttribute("puestos") ); 
 
      if( _arrayPuestos.length === 1 ){ 
        var _inputPuesto = document.createElement("input"); 
        _inputPuesto.readOnly = true; 
        _inputPuesto.setAttribute("id", "puesto"); 
        _inputPuesto.setAttribute("name", "puesto"); 
        _inputPuesto.setAttribute("class", "form-control"); 
        _inputPuesto.setAttribute("value", _arrayPuestos[0]); 
        _divPuesto.replaceChild( _inputPuesto, document.getElementById("puesto")); 
 
      }else if( _arrayPuestos.length > 1 ){ 
        //---[ Limpiar select ]------------------------------- 
        while (_selectPuesto.firstChild) { 
          _selectPuesto.removeChild(_selectPuesto.firstChild); 
        } 
 
        _arrayPuestos.forEach( 
          function(item, index){ 
            var _option = document.createElement("option"); 
            _option.textContent = item; 
            _option.setAttribute("type", "hidden"); 
            _option.setAttribute("value", item); 
 
            if( _option.value.localeCompare(_selectPuesto.getAttribute("oldvalue")) === 0){ 
              _option.setAttribute("selected", ""); 
            } 
            _selectPuesto.appendChild( _option ); 
          } 
        ); 
 
        _divPuesto.replaceChild( _selectPuesto, document.getElementById("puesto")); 
      } 
    }; 
 
    // Create a new 'change' event 
    var _event = new Event('change'); 
 
    // Dispatch it. 
    _selectArea.dispatchEvent(_event); 
     
  </script> 
 

  </body>
</html>